@charset "utf-8";
/* CSS Document */

body {
	background: url(../img/bg.png);
}

#logo {
	margin: 0 auto;
	text-align: center;
	padding-top: 2%;
}

.part-body {
    background: none repeat scroll 0 0 #F8F8F8;
    border-radius: 8px 8px 8px 8px; /* On arrondi les coins car sinon c'est pas joli-joli */
    color: #4C4C4C;
    line-height: 18px; /* Espacement entre les lignes du texte. Sinon trop collé et c'est caca */
    margin: 20px auto;
    padding: 20px 40px 20px; /* On définit les marges du texte dans le bloc histoire qu'il soit pas collé avec les bords du bloc */
    width: 820px; /* On définit la largeur du bloc. En % pour que ça soit responsive mothafucka ! */
}

.lgn {
	display: inline-table;
	margin-left: 30px;
}

textarea {
	height: 400px;
	width: 100%;
	margin: 0 auto;
	display: block;
	resize: none; /* empêcher le redimmensionnement de la textearea */
	padding: 0;
}

#zonetexte {
	padding-top: 1%;
}